// 提供项目所需的 scss 全局变量

// 左侧菜单栏宽度
$base-menu-width: 3.7em;
// 左侧菜单栏背景色
$base-menu-background-color: #34495e;

// 顶部导航栏高度
$base-tabbar-height: 4em;
// 顶部导航栏背景颜色
$base-tabbar-background-color: #ffffff;

// 容器背景颜色
$base-container-background-color: #efefef;